<input type="text" [(ngModel)]="content" />
<hr />
<p>{{ content }}</p>
<!-- ng if structurelle -->
<p *ngIf="displayButton">hamid</p>
<button (click)="displayButton = !displayButton">button</button>
<br />
<br />
<!-- ngstyle -->
<input type="text" [(ngModel)]="color" />
<br />
<br />
<div
  [ngStyle]="{
    width: '200px',
    height: '200px'
  }"
  [style.backgroundColor]="color ? color : 'gray'"
></div>
<br />
<br />
<br />
<br />
<!-- ngClass -->
<input type="text" [(ngModel)]="color" />
<!-- <div
  class="square"
  [ngClass]="{
    bluesquare: color == 'blue',
    redsquare: color == 'red'
  }"
></div> -->
<div class="square" [class.bluesquare]="color == 'blue'"></div>
<br />
<br />
<br />
<!-- ngFor -->
<ul>
  <li *ngFor="let user of users; let i = index">{{ user.nom }} -- {{ i }}</li>
</ul>
